<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.springStudy.mapper.boardMapper">
	<select id="selectAll" resultType="boardVO" parameterType="searchVO">
		select *
		  from boardtb
		 where 1=1
		<if test='searchType != null and searchType.equals("title")'>
		   and title like concat('%', #{searchValue}, '%')
		</if>
		<if test='searchType != null and searchType.equals("id")'>
		   and id like concat('%', #{searchValue}, '%')
		</if>
	</select>
	
	<!-- 스트링과 같은 객체를 파라미터로 받을 시 오류 발생 가능성. #{value} 활용 -->
	<select id="selectOneByBidx" resultType="boardVO" parameterType="int" >
		select *
		  from boardtb
		 where bidx = #{bidx}
	</select>
	
	<update id="update" parameterType="boardVO">
		update boardtb
		   set title = #{title}
		     , body = #{body}
		 where bidx = #{bidx}
	</update>
	
	<delete id="delete" parameterType="int">
		delete
		  from boardtb
		 where bidx = #{bidx}
	</delete>
	
	<insert id="insert" parameterType="boardVO">
		insert into
		boardtb (
			 title
			,body
			,id
			,filename
			,orifilename
		) values (
			 #{title}
			,#{body}
			,#{id}
			,#{filename}
			,#{orifilename}
		)
		<selectKey order="AFTER" keyProperty="bidx" resultType="int">
			select max(bidx)
			  from boardtb
		</selectKey>
	</insert>
</mapper>